<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.flutter_app_update">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application>
        <provider
                android:name="com.example.flutter_app_update.FlutterAppUpdateFileProvider"
                android:authorities="${applicationId}.flutter.app_update_provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/flutter_app_update_file_provider"/>
        </provider>
    </application>
</manifest>
